.hexagon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden; /* Ensure the SVG does not overflow and cut off */
}

.hexagon-svg {
  transition: all 0.3s ease;
  width: 100%; /* Ensure it scales with the container */
  height: auto;
}

@media (min-width: 1024px) {
  /* For screens larger than 1024px (e.g., laptops) */
  .hexagon-svg {
    width: 30%; /* Further reduced width for laptops */
    height: auto;
  }
}

@media (max-width: 1024px) {
  /* For screens smaller than or equal to 1024px (e.g., tablets and phones) */
  .hexagon-svg {
    width: 100%;
    height: auto;
  }
}
